body, html {
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sect1 {
    display: flex;
    align-content: center;
    margin-left: 15px;
}


.btn {
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #0e2046;
    border-color: #0e2046;
}

.btn-primary:hover {
    background-color: #0548da;
    border-color: #0548da;
    border-width: 4px;
}

.btn-secondary:hover {
    background-color: #0e2046;
    border-color: #0e2046;
    border-width: 4px;
}

.modal-title {
    color:#0e2046;
    text-transform: uppercase;
}

.modal-body {
    display: flex;
    align-content: center;
    justify-content: center;
}
.input-group-text{ 
    background-color: #0e2046;
    color: white;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 300px;
    width: 180px;
}

.form-control {
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 300px;
}

.warning {
    color: rgb(216, 0, 0);
    font-weight: 500;
    border-radius: 300px;
    block-size: auto;
}